@charset "UTF-8";
/*
    Azul-escuro:#00747C
    Azul-claro:#00BBC9
    Cinza-claro:#CACACA
    Cinza-Escuro:#878787
    Preto:#202022
*/

* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body, html {
    background: #00747C url(../manifestação-contra-bolsonaro-salvador-bahia-brasil-de-setembro-manifestante-carrega-bandeira-do-partido-operário-durante-jair-229287409.jpg) center right;
    background-repeat: no-repeat;
    background-size: cover;
}

header h1 {
    background-color: #8c0606;
    padding: 20px;
}

menu {
    background-color: #8c0606;
    display: block;
    text-decoration: none;
}
menu > ul > li > a {
    display: block;
    text-decoration: none;
    text-align: center;
    border: 1px solid black;
    margin-bottom: 5px;
    padding: 5px;
    color: #00BBC9;
    background-color: #00747C;
}
menu > ul > li > a:hover {
    color: black;
    background-color: #00BBC9;
    border: 1px solid #023d41;
}

article {
    width: 450px;
    background-color: white;
    margin: auto;
    padding: 20px;
    text-align: justify;
    border-radius: 10px;
}
article h2 {
    padding: 10px;
}
article p {
    text-indent: 20px;
    line-height: 25px;
}